<div class="page-header text-center container">
  <div class="well">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="hidden-xs col-md-4">
      </div>
      <div class="col-xs-12 col-md-4">
        <%= link_to image_tag("Amalia&Gary_037_c.jpeg", class: "img-circle img-responsive center-block"), navigation_path %>
        <!--
        <%= link_to 'Log In', new_user_session_path, class: "btn navbar-btn btn-default" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn navbar-btn btn-default" %>
        -->
      </div>
    </div>
  </div>
</div>

