<div class="page-header text-center container">
  <div class="well">
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=6469354">
          <%= image_tag "macys.png", class: "med-img" %>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="#">
          <%= image_tag "macys.png", class: "med-img" %>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="#">
          <%= image_tag "macys.png", class: "med-img" %>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="#">
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/0/07/Spices_in_an_Indian_market.jpg", class: "lg-img" %>
        </a>
        <div>
          <p>More to Come, in the future.</p>
          <p>Come back and let us now you bought this item!</p>
        </div>
        <div>
          <% @gifts.first.name %>
          <p>Referencing first element</p>
        </div>
        <div>
          <% @gifts.each do |gift| %>
              <!-- show a gift using html elements -->
              <%= link_to gift.name, gift.url %>
            <% if !gift.purchased? %>

              <%= form_for gift do |f| %>
                <%= f.hidden_field :purchased, :as => :hidden, :value => "true" %>
                <%= f.submit "purchased" %>
                <!-- , confirm: “Continue to  mark this gift as purchased. Thank you so much!”  -->
              <% end %>
            <% else %>
              <p>Gift Purchased</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

