<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- for bootstrap Mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//cdn.optimizely.com/js/192244070.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>


	<%= render 'layouts/footer' %>
</body>
</html>
